In [2]:
base_salary = 100000

bonus_rate = .10

total_sal = (base_salary) * (1 + bonus_rate)

print(total_sal)

110000.00000000001

In [3]:
luke_salary = 100000
company_Name = "talabatoo"

print(company_Name)

talabatoo

In [4]:
job_wfh = True

print(job_wfh)

True

In [5]:
job_id = 101
job_title = 'Data analyst'
job_salary = 100000

In [6]:
print("Data Job Description")
print("======================")
print("Job ID : ", job_id)
print("Company Name : ", company_Name)
print("Job Title : ", job_title)
print("Job Salary : ", job_salary)
print("Job WFH : ", job_wfh)

Data Job Description
======================
Job ID :  101
Company Name :  talabatoo
Job Title :  Data analyst
Job Salary :  100000
Job WFH :  True